<div class="provider-container">
    <mat-list>
        @for(categoryProvider of categoryProviders(); track categoryProvider.name) {
        <div class="subheader" [attr.data-category]="categoryProvider.name" mat-subheader>
            {{categoryProvider.name}}
            @for(provider of categoryProvider.providers; track provider.name) {
            <mat-list-item>
                <div matListItemTitle>{{provider.name}}</div>
            </mat-list-item>
            }
        </div>
        }
    </mat-list>
</div>