.chip-container {

    display: flex;

    background: white;
    padding: 10px;

}


.container {
    position: sticky;
    top: 0;
    overflow-x: auto;
    z-index: 9999;
    height: 70px;
    overflow-y: hidden;
}