.provider-container {
    overflow-y: auto;
}

.container {
    margin-top: 70px;
    overflow: hidden;
}

.subheader {
    padding: 10px;
    border-radius: 5%;
}

@keyframes flashBackground {
    0% {
        background-color: #ffd9e1;
        opacity: 1;
    }

    50% {
        background-color: #ffd9e1;
        opacity: 0.5;
    }

    100% {
        background-color: #ffd9e1;
        opacity: 1;
    }
}

.flash-primary {
    animation: flashBackground 1s alternate;
}